
.form-group {
  max-width: 600px;
  margin-top: 25px;
}

#microphone-logo {
  padding-top: 9px;
  padding-bottom: 3px;
  padding-right: 10px;
}

#search-field {
  height: 42px;
  border-radius: 0;
  box-shadow: none;
}
#search-field:focus {
  border-color: #4285f4;
}

.navbar-right {
  padding-right: 20px;
}

.navbar-nav li a {
  color: black;
}

#navbar {
  border-radius: 0;
}

#navbar-nav a:hover {
  text-decoration: underline;
  background-color: white;
}

#profile-photo {
  border-radius: 50%;
  padding: 10px 0;
}

#bell {
  position: relative;
  top: 16px;
  padding-right: 12px
}
#left-navbar {
  float: left;
  position: relative;
  right: 10px;
}

#right-navbar {
  float: right;
  position: relative;
  right: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #e4e4e4;
  background-color: #f2f2f2;
}
footer ul {
  padding-top: 10px;
}
footer li {
  display: inline;
  padding-right: 26px;
}
footer li a {
  color: #666;
  font-family: arial, sans-serif;
  font-size: 13px;
}
p {
  font-family: arial, sans-serif;
  padding-top: 30px;
}
p a {
  color: #609;
  font-size: 13px;
}
.submit-button {
  padding-top: 25px;
}
.buttons {
  display: inline;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-family: arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #666;
  font-size: 13px;
}
.buttons:hover {
  color: #222;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}
#lucky {
  position: relative;
  left: 5px;
}
#search {
  position: relative;
  right: 5px;
}
nav li a {
  font-family: arial, sans-serif;
}
center {
  position: relative;
  top: 90px;
}